div{
    background-color: rgb(181, 151, 209);
    padding: 3%;
    /* margin: 3%; */
    width: 30%;
}

.soyIzquierda{
    float: left;
}

.soyDerecha{
    float: right;
}

p{
    background-color: crimson;
}